body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1f2937;
    color: white;
}

.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 16px;
    margin: 8px;
    font-size: 24px;
}

.head1>ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.head2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 48px;
    font-size: 48px;
}

.head2>p {
    margin: 0;
}

.secondary {
    font-size: 16px;;
}