body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #3882f6;
    border-radius: 16px;
    border: 0;
    padding: 4px 24px;
}

.header {
    background-color: #1f2937;
    color: white;
}

.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 16px;
    margin: 8px;
    font-size: 24px;
}

.head1>ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.head1>ul>li {
    font-size: 18px;
}

.head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.head3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 48px;
    font-size: 48px;
}

.head3>p {
    margin: 0;
}

.secondary {
    font-size: 16px;;
}

.pearphone {
    height: auto;
    width: 400px;
    padding: 16px 0px;
}
