body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.head3>button {
    background-color: #3882f6;
    color: white;
    border-radius: 16px;
    border: 0;
    padding: 4px 24px;
}

.header,
.footer {
    background-color: #1f2937;
    color: white;
}

.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 16px;
    margin: 8px;
    font-size: 24px;
}

.head1>ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.head1>ul>li {
    font-size: 18px;
}

.head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.head3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 48px;
    font-size: 48px;
}

.head3>p {
    margin: 0;
}

.secondary {
    font-size: 16px;;
}

.pearphone {
    height: auto;
    width: 400px;
    padding: 16px 0px;
    border-radius: 75px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 8px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.quote>p {
    display: flex;
    flex-basis: 700px;
    padding: 24px;
}

.explore {
    display: flex;
    justify-content: center;
}

.explore-container {
    display: flex;
    align-items: center;
    padding: 32px 72px;
    margin: 64px;
    gap: 32px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
}

.explore-container>button {
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 16px;
    padding: 4px 24px;
}

.explore-big {
    font-size: 24px;
}